.header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.buttons {
  display: flex;
  align-items: center;
}

.select-item {
  margin-right: 0.5rem;
  padding: 0.4rem;
}
