@import '../../assets/styles/colors';
.custom-table {
  text-align: center;

  td,
  th {
    width: 130px;
    height: 42px;
    padding: 0;
    border: 1px solid #000;
  }
}
.confirm-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  height: 300px;
  text-align: center;
  background: $secondary-color;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  button {
    margin-right: 0.5rem;
  }
}
