@import "../../assets/styles/colors";

.custom-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ccc;

  &.hiden {
    display: none;
  }
}

.custom-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 3rem;
  width: 100%;
  height: 500px;
  max-width: 520px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background: #add8e6;

  label {
    font-size: 1.2rem;
  }

  input {
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.3rem;
    width: 150px;
    font-size: 0.8rem;
    color: #000;

    &::placeholder {
      text-align: left;
      color: #000;
    }

    &:focus {
      border: 1px solid $secondary-color;
    }
  }

  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  button {
    margin: 0.5rem 0;
  }
}
